@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background-image: url("./webb-dark.png");
}
* {
  font-family: "Inter", "Courier New", Courier, monospace;
}
#root {
  width: 100vw;
  height: 100vh;
}
